p, button, li, h1, h2{
  font-weight: 800;
  font-family: sans-serif;
}
ul{
  list-style-type: none;
  padding: 0;
}
li{
  text-decoration: none;
  margin-bottom: 10px;
  border: 2px solid red;
  border-radius: 10px;
  padding: 10px;
}
li.reclaim:nth-child(even) {
  background-color: #efcc00;
}
li.reclaim:nth-child(odd) {
  background-color: #bc8f8f;
}
li.reclaim2:nth-child(even) {
  background-color: cyan;
}
li.reclaim2:nth-child(odd) {
  background-color: #005f69;
}
button{
  height: 40px;
  border-radius: 10px;
}
span{
  margin-left: 30px
}
p.sum1, p.sum2{
  margin-bottom: 10px;
  border: 2px solid blue;
  border-radius: 10px;
  padding: 10px;
  background-color: chartreuse;
}
h1{
  border-bottom: 4px dotted black;
  padding-bottom: 10px;
}